<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Тестове завдання Норіцина Максима</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://telegram.org/js/telegram-login-widget.css?5" />
</head>
<body>
    <h1>Для реєстрації натисніть кнопку</h1>
    <script async src="https://telegram.org/js/telegram-widget.js?22" data-telegram-login="{{telegram_bot_name}}" data-size="large" data-auth-url="/auth" data-request-access="write"></script>
</body>
</html>